<div class="col-12">
    <h2 class="text-secondary">Total student per class</h2>
  </div>
  
  <div class="col-12">
    <app-advanced-table-search [mergeQueryParams]="true" [(filter)]="filter" [collapsed]="true" [showMore]="false" [table]="table">
    </app-advanced-table-search>
  </div>
  
  <div class="col-12">
    <app-table-simple-header [table]="table">
    </app-table-simple-header>
    <app-advanced-table #table [showHeader]="false" [configSrc]="'/assets/tables/table7.config.json'"></app-advanced-table>
  </div>
  