<div class="col-12">
  <h2 class="text-secondary">Students</h2>
</div>
<div class="col-12">
  <app-advanced-table-search #search [searchState]="'table1'" [(filter)]="filter" [collapsed]="true" [showMore]="false" [table]="table">
  </app-advanced-table-search>
</div>
<div class="col-12">
  <app-advanced-table #table [config]="tableConfiguration"></app-advanced-table>
</div>
