<div class="col-12">
  <button class="btn btn-primary" (click)="selectStudent()">Select multiple items</button>
</div>
<div class="col-12 mt-4">
  <ul class="list-group list-group-flush" >
    <li class="list-group-item list-group-item-secondary">Selected students</li>
    <ng-container *ngFor="let item of selected">
      <li class="list-group-item">[{{item.studentIdentifier}}] {{item.familyName}} {{item.givenName}}</li>
    </ng-container>
    <ng-container *ngIf="selected.length === 0">
      <li class="list-group-item list-group-item-light">There is no selected item.</li>
    </ng-container>

  </ul>
</div>
